.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  &__header {
    font-size: 24px;
    text-align: center;
    padding: 16px;
    &--title {
      padding-bottom: 8px;
    }
  }
  &__sliderContainer {
    display: flex;
    flex-direction: column;
    & span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--title {
      font-size: 14px;
      font-weight: 600;
    }
    &--viewAll {
      font-size: 11px;
      color: $primary-blue;
      font-family: 'Roboto', sans-serif;
    }
  }
}
