.home {
  display: flex;
  flex-direction: column;
  // margin: 0vw 4vw;
  padding-bottom: 4vw;
  &__header {
    font-size: 24px;
    text-align: center;
    padding-top: 3vw;
    &--title {
      padding-bottom: 4vw;
      font-size: 42px;
    }
  }
  &__sliderContainer {
    display: flex;
    flex-direction: column;
    padding-top: 8em;
    & span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 2em;
    }
    &--title {
      font-size: 22px;
      font-weight: 300;
    }
    &--viewAll {
      font-size: 18px;
      color: $primary-blue;
      font-family: 'Roboto', sans-serif;
    }
  }
}

.slider__container{
  display:flex;
  justify-content: center;
  margin-top: 4vh;
}
