.cardSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em;
  max-height: 80px;
  width: 100%;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  font-size: 16px;
  &:hover {
    transition: transform ease-in-out 0.2s;
    transform: scale(1.01);
    color: $primary-blue;
  }
  & img {
    width: 20px;
    height: 20px;
    margin-right: 2%;
  }
}
