.movieDetails__return {
  position: absolute;
  top: 5vh;
  left: 6vw;
  transition: left 0.5s, transform 0.5s;
  &:hover {
    transform: translateX(-4px);
  }
}

.movieDetails__cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  z-index: -1;
}
.movieDetails__cover__content {
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.movieDetails__title {
  font-size: 18px;
  margin-top: 28vh;
}

.movieDetails__score {
  font-size: 11px;
  display: inline;
  margin-right: 5vw;
}

.movieDetails__vote {
  font-size: 11px;
}

.movieDetails__link {
  display: block;
  margin-top: 2vh;
  font-size: 14px;
  color: $primary-blue;
  transition: right 1s, transform 1s;
  &:hover {
    transform: translateX(10px);
  }
}

.movieDetails__link:after {
  content: '\002794';
  margin-left: 8px;
}

.movieDetails__synopsis {
  font-size: 15px;
  font-weight: 500;
  margin-top: 3vh;
}

.movieDetails__content {
  font-size: 14px;
  line-height: 1.6em;
  margin-top: 2vh;
  width: 85vw;
}

.movieDetails__similar {
  display: flex;
  margin-top: 4vh;
  justify-content: space-evenly;
}

.movieDetails__similar__title {
  font-size: 11px;
  width: 58px;
}

.movieDetails__similar__cover {
  width: 60px;
}

@media screen and (min-width: 555px) {
  .movieDetails__cover__content {
    height: 90vh;
  }

  .movieDetails__similar__title {
    font-size: 11px;
    width: 98px;
  }
  
  .movieDetails__similar__cover {
    width: 100px;
  }
}

@media screen and (min-width: 876px) {
  .movieDetails__cover__content {
    height: 140vh;
  }
  .movieDetails__return {
    left: 5vw;
  }

  .movieDetails__similar__title {
    font-size: 11px;
    width: 128px;
  }
  
  .movieDetails__similar__cover {
    width: 130px;
  }
}
