* {
  box-sizing: border-box;
}

body {
  background-color: $dark-background;
  color: $white;
  font-family: 'Poppins', sans-serif;
  @include smartphone {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include pc {
    padding-left: 80px;
    padding-right: 80px;
  }
}
