.searchbar {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  &--input {
    border: 1px solid $primary-blue;
    border-radius: 20px;
    background-image: url('../../../assets/icons/loupe.svg');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding: 10px;
    width: 30vw;
    background-color: $white;
    background-position: 97% 50%;
    &:focus {
      outline: none;
      background-image: none;
    }
  }
  &__listOfSearch {
    z-index: 2;
    position: absolute;
    background-color: $dark-background;
    width: 100%;
    height: auto;
    &--showTextMatchingResults {
      text-align-last: left;
      font-size: 14px;
      padding: 1.6em;
      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchbar--input {
    width: 80vw;
  }
}
