.searchbar {
  text-align: center;
  &--input {
    border: transparent;
    border: 2px solid $primary-blue;
    border-radius: 20px;
    background-image: url('../../../assets/icons/loupe.svg');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding: 10px;
    width: 30vw;
    background-color: $white;
    background-position: 97% 50%;
    &:focus {
      outline: none;
      background-image: none;
    }
  }
  &--yo {
    position: absolute;
    background-color: $dark-background;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .searchbar--input {
    width: 80vw;
  }
}
