.searchbar {
  text-align: left;
  &--input {
    border: transparent;
    border-radius: 20px;
    background-image: url(/static/media/loupe.0979867c.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding: 10px;
    width: 30vw;
    background-color: #1C232A;
    background-position: 97% 50%;
    &:focus {
      outline: none;
      background-image: none;
    }
  }
  &--yo {
    z-index: 10;
    position: absolute;
    background-color: $dark-background;
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
.searchbar--input {
  width: 80vw;
}
}