.containerTrendingMovies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & button {
    background: none;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    &--card {
      margin: 0 2%;
      font-size: 11px;
      opacity: 0.9;
      &:hover {
        transition: transform ease-in-out 0.3s;
        transform: scale(1.08);
        opacity: 1;
      }
      &--image {
        width: 50px;
        height: 100%;
        object-fit: cover;
      }
      &--title {
        font-weight: 600;
        height: 10px;
      }
      &--date {
        font-weight: 200;
        font-size: 9px;
        padding-top: 16px;
      }
    }
  }
}

// @media screen and (max-width: 1355px) {
//   .containerTrendingMovies__slider--card--image {
//     width: 150px;
//     height: 300px;
//   }
// }
@media screen and (min-width: 768px) {
  .containerTrendingMovies__slider--card {
    margin: 0 6px;
    font-size: 16px;
  }
  .containerTrendingMovies__slider--card--date {
    padding-top: 8px;
    font-size: 16px;
  }
  .containerTrendingMovies__slider--card--image {
    width: 170px;
  }
}
